@model HPCN.UnionOnline.Site.ViewModels.EnrollmentActivityAddPropertyViewModel
@inject IOptionsService _optionsService

@{
    ViewData["Title"] = "Add Property";
}

<h2>添加属性 - @Model.Activity.Name</h2>

<form asp-action="AddProperty" method="post">
    <div class="form-horizontal">
        <h4>Property Entry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Property.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Property.Name" class="form-control" />
                <span asp-validation-for="Property.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Property.DisplayName" class="form-control" />
                <span asp-validation-for="Property.DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Property.Description" class="form-control description"></textarea>
                <span asp-validation-for="Property.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.IsRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Property.IsRequired" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.RequiredMessage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Property.RequiredMessage" class="form-control brief-description"></textarea>
                <span asp-validation-for="Property.RequiredMessage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.DisplayOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Property.DisplayOrder" class="form-control" />
                <span asp-validation-for="Property.DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.TypeOfValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Property.TypeOfValue", _optionsService.ListPropertyValueTypes().Select(g => new SelectListItem() { Text = g.ToString(), Value = g.ToString() }), new { @class = "form-control" })
                <span asp-validation-for="Property.TypeOfValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Property.ChoiceMode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Property.ChoiceMode", _optionsService.ListPropertyValueChoiceModes().Select(g => new SelectListItem() { Text = g.ToString(), Value = g.ToString() }), new { @class = "form-control" })
                <span asp-validation-for="Property.ChoiceMode" class="text-danger"></span>
            </div>
        </div>

        <div class="property-choice-panel">
            <h4>Property Choices</h4>
            <hr />
            <div>
                <table id="choices-table" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Display Text</th>
                            <th>Display Order</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input name="Property.ValueChoices[0].Value" /></td>
                            <td><input name="Property.ValueChoices[0].DisplayText" class="choice-display-text" /></td>
                            <td><input name="Property.ValueChoices[0].DisplayOrder" class="choice-display-order" /></td>
                            <td><input name="Property.ValueChoices[0].Description" class="choice-description" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input name="Property.ValueChoices[1].Value" /></td>
                            <td><input name="Property.ValueChoices[1].DisplayText" class="choice-display-text" /></td>
                            <td><input name="Property.ValueChoices[1].DisplayOrder" class="choice-display-order" /></td>
                            <td><input name="Property.ValueChoices[1].Description" class="choice-description" /></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td><button onclick="appendRow(this);return false;">+</button></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" asp-for="Activity.Id" />
                <input type="submit" value="Create" class="btn btn-default" />
                <a asp-action="Properties" asp-route-id="@Model.Activity.Id">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EnrollmentScriptsPartial");
    }
}
