@model HPCN.UnionOnline.Site.ViewModels.EnrollmentActivitySearchViewModel

@{
    ViewData["Title"] = "报名活动";
}

<h2>报名活动</h2>

<p>
    <a asp-action="Create">新建报名活动</a>
</p>

@Html.Partial("_activities", Model.Activities)