@model HPCN.UnionOnline.Site.ViewModels.ActivitySearchViewModel

@{
    ViewData["Title"] = "积分兑换";
}

<h2>积分兑换活动</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

@Html.Partial("_activities", Model.Activities)