@model HPCN.UnionOnline.Site.ViewModels.EnrollingDetailsViewModel

@{
    ViewData["Title"] = $"我的报名信息 - {Model.Enrolling.Enrollment.Name}";
}

<h2>@($"我的报名信息 - {Model.Enrolling.Enrollment.Name}")</h2>

@Html.Partial("_Enrolling", Model)

<div class="section">
    <a asp-controller="Enrolling" asp-action="Index" title="回到我的报名">返回</a> |
    <a asp-controller="Enrolling" asp-action="Update" asp-route-id="@Model.Enrolling.Id" title="更新填写的信息">更新</a> |
    <a asp-controller="Enrolling" asp-action="Cancel" asp-route-id="@Model.Enrolling.Id" title="撤回此次报名">撤回</a>
</div>