@model HPCN.UnionOnline.Site.ViewModels.EnrollingDetailsViewModel

@{
    ViewData["Title"] = $"活动报名信息 - {Model.Enrolling.Enrollment.Name}";
}

<h2>@($"活动报名信息 - {Model.Enrolling.Enrollment.Name}")</h2>

@Html.Partial("_Enrolling", Model)

<div class="section">
    <a asp-controller="Portal" asp-action="Index">Back to My Portal</a>
</div>