@model HPCN.UnionOnline.Models.Enrollment

@{
    ViewData["Title"] = $"关闭活动报名 - {Model.Name}";
}

<h2>关闭活动报名</h2>

<div>
    <h4>你确定要关闭此活动报名吗？</h4>
    <hr />
    @Html.Partial("_enrollment", Model)
</div>
<div>
    <form asp-action="Close">
        <input type="hidden" asp-for="Id" />
        <div class="form-actions no-color">
            <input type="submit" value="关闭" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
