@model HPCN.UnionOnline.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PointsAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PointsAmount" class="form-control" />
                <span asp-validation-for="PointsAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MoneyAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MoneyAmount" class="form-control" />
                <span asp-validation-for="MoneyAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedTime" class="form-control" />
                <span asp-validation-for="UpdatedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConcurrencyTimestamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConcurrencyTimestamp" class="form-control" />
                <span asp-validation-for="ConcurrencyTimestamp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
