@model IEnumerable<HPCN.UnionOnline.Models.Order>

@{
    ViewData["Title"] = "My Orders";
    var createdOrders = Model.Where(o => o.Status == OrderState.Created);
    var completedOrders = Model.Where(o => o.Status == OrderState.Completed);
    var cancelledOrders = Model.Where(o => o.Status == OrderState.Cancelled);
}

<h2>我的订单</h2>

<div class="orders-section">
    <h4><span class="created">已创建的订单</span> (@createdOrders.Count())</h4>
    <hr />
    @await Html.PartialAsync("_Orders", createdOrders.OrderBy(o => o.CreatedBy))
</div>

<div class="orders-section">
    <h4><span class="completed">已完成的订单</span> (@completedOrders.Count())</h4>
    <hr />
    @await Html.PartialAsync("_Orders", completedOrders.OrderBy(o => o.CreatedBy))
</div>

<div class="orders-section">
    <h4><span class="cancelled">已取消的订单</span> (@cancelledOrders.Count())</h4>
    <hr />
    @await Html.PartialAsync("_Orders", cancelledOrders.OrderBy(o => o.CreatedBy))
</div>
