@{
    ViewData["Title"] = $"No Enough Points";
}

<h2>No Enough Points</h2>

<p>
    You have no enough points to exchange these products.
</p>
<div>
    <a asp-controller="Cart" asp-action="Index">Back to My Cart</a>
</div>